<link rel="stylesheet" type="text/css" href="mainpage.css">

<div class="bus_line_container">
    <div class="bus_line">
        <ul class="bus_stations">
        <li id="#" class="stations_large station_1"></li>
        </ul>
    </div>
</div>




    <!-- Navigation_Bottom -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/boards/index">인사캠 셔틀 운영시간 보기</a>
        </div>
      </div>
    </nav>
    
